.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
.venv311/

build/
dist/
*.spec.bak

*.xlsx
~$*.xlsx
!specialistica_verticale/FORMAT_ACQUAVIVA.xlsx
!specialistica_verticale/BRANCA_Codici regionali-Codici SSN.xlsx

.pytest_cache/
.mypy_cache/
.ruff_cache/
